
.cabecera {
    width: 500%;
    background-color: rgb(250, 250, 250);
    padding: 2%;
    width: max-content;
   
}
.menunavegador li a{
    text-decoration: none;
    text-align: center ;
    color: darkslategrey;
    font-family: Arial;
    padding: 4%;
    width: 200%;
    
   
}

.menunavegador li{
    display: block;
    list-style: none;
    margin-top: 2%;
    width: 150px;
    display: inline-block;
    border: 1px  darkslategrey;
   
}

.indexcontenido {
    width: 70%;
    float: left;
}
.imgcontenido {
    width: 30%;
    float: left;
    position: relative;
}
.imgcontenido1 {
    width: 30%;
    float: left;
    margin-left: 935px;
}
.seccion {
    width: 100%;
    float: left;
}
.piepagina{
    float: left;
    position: 10px;
}
.indexabout{
    width: 60%;
    float: left;
}
.imgabout{
    width: 40%;
    float: left;
}


.contactoib{
    margin-left: 200px;
    border-width: 1px;
    color: black;
    border-style: solid;
    background-image: url('img/img1.jpg');
}

.social{
    position:fixed;
    left: 0;
    top: 30px;
    z-index: 2000;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #ffff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    
}

.social ul li .icon-facebook2 { background:#3b5998;}
.social ul li .icon-mail4 { background:#666666;}
.social ul li .icon-whatsapp { background:green;}
/*mapa google maps */
#mapa{
border-radius: 2px;
border: black;
}
/*boton contactos*/

.enviar{
background: linear-gradient(rgb(168, 105, 80), rgb(66, 56, 206));
border: 0;
color: white;
opacity: 0.8;
 cursor: pointer;
  border-radius: 25px;
  height: 40px;
width:20%; 
 }

 .buscarbo{
    background: linear-gradient(rgb(168, 105, 80), rgb(66, 56, 206));
    border: 0;
    color: white;
    opacity: 0.8;
     cursor: pointer;
      border-radius: 25px;
      height: 40px;
    width:20%; 
 }


 /*-----*/
   
 .indexcontenido{
    text-align: justify;
    
      }