html{
    margin:0 auto ;
    width: 40%;
    max-width: 3050px;
    min-width:1150px;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
}
html {  
    background-color:rgb(255, 255, 255);
   }  
  body { 
    background-color: #EEF5DB; 
       }
    
    /*table {
       table {
          display: inline-block;
        width: auto;
        text-align: right;
        margin-left: .2em;
        padding-left: inherit;     
        border-collapse: separate;
        border-spacing: 50px 20px;
    
    }*/
    
     a{
      font-family: 'Courier New', Courier, monospace;
      color: black;
      }
      form {   
        /* Para ver el borde del formulario */
        padding: 1em;
       
        border-radius: 2em;
    }

    .footernoso {
  background-color: rgb(15, 75, 134);
  color: black;
  width: 100%;
  height: 20%;
  float: left;
  text-align: center;
  top: auto;
  font-size: 100%;
  padding: 1%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .formbus{
        background-color: rgb(255, 255, 255);
    }

    .h1nosotros {
        color: red;
        text-align: center;
        size: 500%;
        float: right;
        padding: 3%;
        font-size: 200%;

    }

    .h1servicioss{
        color: red;
        text-align: center;
        size: 500%;
        float: none;
        padding: 3%;
        font-size: 200%;
    }

    .p1nosotros{
      color: rgb(65, 60, 60);
      float: left;
      padding: 2%;
      font-size: 150%;

    }

    .misinoso{
        width: 30%;
        float: right;
        padding: 10%;
    }

    .ifnosotros{
        padding: 10%;
        width: 200%;
        height: 400%;
        float: left;
    }
    .imanoso{
      width: 170%;
      float: left;
      padding: 0%;
    }
  
    .productos .produ .parrafo{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: black;
      width: 100px;

    }
 
 
 
    