html{
    margin:0 auto ;
    width: 40%;
    max-width: 3050px;
    min-width:1150px;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 2000px;
}
html {  
    background-color:rgb(255, 255, 255);
   }  
  body { 
    background-color: #EEF5DB; 
       }
    
    table {
        /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
        display: inline-block;
        width: 500px;
        text-align: right;
        margin-left: .5em;
        padding-left: 10px;     
        border-collapse: separate;
        border-spacing: 30px 20px;
    }
    
     a{
      font-family: 'Courier New', Courier, monospace;
      color: black;
      }
      form {   
        /* Para ver el borde del formulario */
        padding: 1em;
       
        border-radius: 2em;
    }

    .footernoso {
  background-color: rgb(15, 75, 134);
  color: black;
  width: 100%;
  height: 20%;
  float: left;
  text-align: center;
  top: auto;
  font-size: 100%;
  padding: 1%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .h1nosotros {
        color: red;
        text-align: center;
        size: 500%;
        float: right;
        padding: 3%;
        font-size: 200%;

    }

    .p1nosotros{
      color: rgb(65, 60, 60);
      float: left;
      padding: 2%;
      font-size: 150%;

    }

    .misinoso{
        width: 30%;
        float: right;
        padding: 10%;
    }

    .ifnosotros{
        padding: 10%;
        width: 200%;
        height: 400%;
        float: left;
    }
    .imanoso{
      width: 170%;
      float: left;
      padding: 0%;
    }
    .productos .produ h1{ 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: red;
      text-align:center;
    }
    .productos .produ img{
        width: 500px;
        height: 500px;
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .industriales .indus img{
        width: 300px;
        height: 300px;   
    }
    .industriales .indus h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:black;
      text-align: center;  
    }
